* {  
  /*outline : 2px solid red;*/
}

a {
	color: #000000;
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 10px;
	text-decoration: none; /*gets rid of underlines*/
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	/*background-color: #f4f4f2;*/
	margin: 0;
}


.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  text-align: left;
  letter-spacing: 2px;
  position: fixed;
  margin-top: .005em;
  margin-left: 1em;	
  top: 0;
}

.nav {
	position: fixed;
	top: 1.2em;
	height: 5em;
	
	
}

.navList {
	position: fixed;
	top: 0;
	width: 100vw;

	text-align: center;
	list-style-type: none;
	background-color: #ffffff;
	opacity: 0.9;

}
.navEntry {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .25px;
	font-weight: 400;
	font-size: .9em;
	display: inline-block;
	margin-top: .2em;
	margin-left: 0em;
	float: none;
}

.hello {
	font-family: 'Roboto', sans-serif;
	font-size: 5em;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	margin-right: 0vw;
	margin-left: 20vw;
	margin-top: 33vh;
}

.pageHeader {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
	width: 22em;
	margin-top: 10vh;
	margin-left: 12vw;
	margin-bottom: 0vh;
	text-align: left;
}


.subintro {
	font-size: 1.4em;
	font-weight: 200;
	width: 24em;	
	margin-right: 5vw;
	margin-left: 12vw;
	margin-top: 0;
	text-align: left;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

li {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: auto;
	width: 30em;

}

#page1 {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-image: url('http://www.dejal.com/files/2015/first-mac/1.jpg');
	background-color: red;
	background-size: cover;
	background-position: center;

	background-blend-mode: difference;
}
#page2 {
	height: 70vh;
	width: 100vw;
	display: inline-block;
}

#subpage2 {
	/*background-color: #FF0000;*/
	display: inline-block;
	width: 50vw;
	margin: 0 auto;
	margin-right: 5vw;
	margin-left: 10vw;
	margin-top: 0vh;
	border-radius: 

}



#page3 {
	background-color: #d3d3d3;
	display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden
	
}

.slides {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}


.button-right {
	background-color: #f44336;
	 width:200px;
	 position: relative;

}

#page4 {
	margin-bottom: 10em;
	height: 100vh;
	width: 100vw;
	background-color: #ffffff;
	
}


#playlist1 {
	
	height: 340px;
	width: 250px;
	margin-top: 0px;

	
}
#playlist2 {
	margin: 0;
	margin-top: 15px;
	height: 340px;
	width: 250px;
}
#playlist3 {
	margin: 0;
	margin-top: 0em;
	margin-bottom: 10px;
	height: 340px;
	width: 250px;
}

#playlist4 {
	margin: 0;
	margin-top: 185px;
	height: 340px;
	width: 250px;
	overflow: hidden;
}

.playlistImg {
	
	height: 170px;
	width: 250px;
	background-size: cover;
	background-position: center;
}

#wave1{

	background-image: url("http://i.imgur.com/niWz9Dr.jpg");
}
#wave2{

	background-image: url("https://petapixel.com/assets/uploads/2015/12/liquidmountain8.jpg");
}
.subpage4_1 {

	width: 250px;
	margin-right: 15px;
	/*outline : 2px solid red;*/
}

#subpage4 {
	display: flex;
	width: 100vw;
	max-height: 90vh;
	margin-right: 5vw;
	
	margin-top: 10vh;
	margin-left: 10vw;
	/*outline : 2px solid red;*/

}

#subpage4 div {
	display: block;
}

#page5 {
	height: 100vh;
	width: 100vw;
	display: inline-block;
	/*background-color: #d3d3d3;*/
	/*opacity: 0.90;*/
	/*background-color: #f88379;*/
	/*background: radial-gradient(circle closest-corner, #01facd, #af5c7e);*/
	background-color: #ffffff;

}

#subpage5 {
	/*background-color: #FF0000;*/
	text-align: left;
	display: inline-block;
	width: 100vw;
	height: 60vh;
	margin: 0 auto;
	
	margin-left: 15vw;
	margin-top: 20vh;
	
}

#contactLogos {
		margin-left: 11em;

}
.iconLink {
	display: inline-block;
	margin: 0;
	padding-right: 4em;
	float: none;
	width: .50em;
	height: .75em;
}

.logo {
	width: 40px;
}



